{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
  <link rel="stylesheet" href="{% static 'members/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'members/favicon.ico' %}">

</head>
<body>
    <header>
    <nav class="navbar">
      <div class="logo">MyPortfolio</div>
      <ul class="nav-links">
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "home" %}">About</a></li>
        <li><a href="{% url "home" %}">Skills</a></li>
        <li><a href="{% url "home" %}">Projects</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="contact" class="contact">
    <h2>Contact Me</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Send</button>
    </form>
  </section>

  <footer>
    <p>© 2025 my portfolio| All Rights Reserved</p>
  </footer>

</body>
</html>